<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %> food</h2>
<p><%= @restaurant.address %></p>

<h3>Reviews</h3>
<ul>
<% @restaurant.reviews.each do |review| %>
  <li><%= review.content %> <%= review.rating %>/5</li>
<% end %>
</ul>

<%= render 'reviews/form', restaurant: @restaurant, review: @review %>
<%= link_to "Back to list", restaurants_path %>
